.container {
  margin-top: 80px;
}

.Error {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
// \\\\\\\\\\\\\\\\\\\\\\\\\ Homepage \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.App {
  margin-top: 30px;
  text-align: center;
}

input {
  margin-right: 40px;
}

#Table {
  margin-top: 30px;
}

#Table tr td {
  font-weight: bold;
}

#Table td input {
  margin: 0 auto;
}

.button {
  margin-right: 20px;
}
